<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mksystems.mks.dreammaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetDaytimeReminder"
            android:label="Set Daytime Reminder"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.MainActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".ChooseTime"
            android:label="@string/title_activity_choose_time"
            android:parentActivityName=".SetDaytimeReminder"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.MainActivity" />
        </activity>
        <activity
            android:name=".SetNightTimeReminder"
            android:label="@string/title_activity_set_night_time_reminder"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.MainActivity" />
        </activity>

        <!--
        NOTE MKS

        After upgrading the IDE to 23.0, began to receive error for rendering this activity:
        "setShadowLayer is not supported"
        This option is not supported with all devices/software versions, so turning it off is
        the best option for now


            UPDATE: this didn't solve the error, so it was removed...add it back in if some
            devices have trouble displaying the activity properly.

            android:hardwareAccelerated="false"
        -->

        <activity
            android:name=".IndexActivity"
            android:label="@string/title_activity_index"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.MainActivity" />
        </activity>
        <activity
            android:name=".UsingTheLucidityAlerts"
            android:label="Using the Lucidity Alerts"
            android:parentActivityName=".IndexActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.IndexActivity" />
        </activity>
        <activity
            android:name=".UsingTheDreamLog"
            android:label="@string/title_activity_using_the_dream_log"
            android:parentActivityName=".IndexActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.IndexActivity" />
        </activity>
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".IndexActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mksystems.mks.dreammaster.IndexActivity" />
        </activity>
    </application>

</manifest>
